.kosbiesface {
    background-color: red;
    border-color: blue;
    border-style: solid;
    padding: 13px;
    margin: 15px;

}

#mywebsite {
    font-size: 30px;
    color: blue;
    font-weight: 800;
}